* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#container {
    /*cursor: none;*/
    background: linear-gradient(to bottom, #0a78d6, #011e33);
/*    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;*/
    overflow: hidden;
}

#game .score {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    color: #eef8ff;
}

#game .score span {
    font-weight: bold;
    margin-right: 5px;
}

#cache {
    display: none;
}

.bolder {
    font-weight: bold;
}

.window {
    cursor: default;
    opacity: 1;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: auto;
    position: absolute;
    width: 400px;
    height: 260px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*.window.hide {
    margin-top: -600px;
    opacity: 0;
}*/

.window .header {
    padding: 10px;
    color: #FFF;
    font-size: 24px;
    line-height: 24px;
    background-color: #0a78d6;
}

.window .body {
    padding: 10px;
}